# Системные папки компиляции .NET
bin/
obj/

# Кэш и настройки сред разработки
.vs/
*.user
*.suo
*.userosscache
.vscode/

# Локальные переменные среды
.env

# файлы локальной модели
*.gguf
*.llamafile
